[project]
name = "offline-assessment-system"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "fastapi[standard]>=0.122.0",
    "jinja2>=3.1.6",
    "python-multipart>=0.0.20",
]
